* {
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
}

/* PERSONAL PAGE */

.personal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #004aad;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.profilepic-div {
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 50%;
    margin: 0;
}

.profile-pic {
    width: 100%;
    max-height: 900px;
    position: absolute;
    bottom: 0px;
    left: 0;
    object-fit: contain;
    /* object-position: left bottom; */
}

h1 {
    color: #dcff79;
    font-weight: 900;
    font-size: 9vw;
    text-shadow: 1px 1px 1px black;
    line-height: 8vw;
    width: 50%;
    margin-top: 6vw;
    margin-left: 6vw;
}

.profilepic-div button {
    display: none;
}



.projects-btn {
    color: #cfb9ff;
    font-weight: bold;
    font-size: 4vw;
    
    background-color: black;
    border: 2px solid black;
    padding: 8px;
    margin-left: 6vw;
    
    cursor: pointer;
    
}

.contacts {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.hidden-contacts {
    display: none;
}

.getintouch {
    height: 15vw;
    cursor: pointer;
}

.arrow {
    width: 30%;
    margin-left: 10px;
    margin-top: 5px;
}

svg {
    fill: #dcff79;
    margin-left: 5px;
    margin-top: 15px;
}


/* PROJECTS PAGE */


.projects {
    display: none;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(13, 1fr);
    background-color: black;
    width: 100vw;
    margin: auto;
    /* position: absolute;
    top: 0;
    left: 0; */
    grid-template-areas: 
    'science backtome1'
    'science .'
    'science puppy'
    '. puppy'
    'form puppy'
    'form .'
    'form photo'
    '. photo'
    'dashboard photo'
    'dashboard .'
    'dashboard directory'
    '. directory'
    'backtome2 directory';
}

.project-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.project-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    color: #cfb9ff;
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}

p {
    font-size: 0.8rem;
    color: #dcff79;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.project-icon {
    width: 80%;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills img {
    width: 25px;
    background-color: #cfb9ff;
    border: 2px solid black;
}

.back-to-me {
    height: 50px;
    margin: 20px;
    cursor: pointer;
}

/* GRID AREAS */

#science-div {
    grid-area: science;
}

#puppy-div {
    grid-area: puppy;
}

#form-div {
    grid-area: form;
}

#photo-div {
    grid-area: photo;
}

#dashboard-div {
    grid-area: dashboard;
}

#directory-div {
    grid-area: directory;
}

#back-to-me-1 {
    grid-area: backtome1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#back-to-me-2 {
    grid-area: backtome2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}



/* MEDIA QUERIES */

@media only screen and (min-width: 600px) {


    @media screen and (orientation:portrait) { 

        h1 {
            font-size: 6vw;
            line-height: 5vw;
            margin-top: 80px;
            margin-left: 40px;
            width: 60%;
        }

        .profilepic-div button {
            display: none;
        }

        .title-div button {
            display: inline-block;
            position: static;
            font-size: 1.3rem;
            width: 55%;
            padding: 9px;
            margin-left: 40px;
            margin-top: 25px;
        }

        .contacts {
            position: absolute;
            top: -60px;
            width: 100%;
            padding-left: 30px;
            display: flex;
            flex-direction: row;
        }

        .getintouch {
            height: 80px;
        }

        .arrow {
            width: 20%;
            margin-left: 10px;
            margin-bottom: 20px;
        }

        svg {
            width: 50px;
            height: 50px;
            margin-left: 15px;
        }

        .project-icon {
            width: 60%;
        }
       
    }


    @media screen and (orientation:landscape) { 

        /* PERSONAL */

        .personal {
            flex-direction: row;
        }

        h1 {
           font-size: 10vh;
           line-height: 8vh;
           margin-top: 15vh;
           margin-left: 15vh;
           width: 60%;
        }

        .title-div button {
            display: inline-block;
            position: static;
            font-size: 4vh;
            width: 65%;
            padding: 9px;
            margin-left: 10vh;
        }

        .profilepic-div {
            height: 80%;
            width: 50%;
            margin-top: auto;
            margin-bottom: auto;
        }

        .profile-pic {
            width: 100%;
        }

        .getintouch {
            height: 15vh;
        }
        
        .arrow {
            width: 30%;
            margin-left: 10px;
            margin-bottom: 20px;
        }

        svg {
            width: 50px;
            height: 50px;
            margin-top: 20px;
            margin-left: 10px;
        }

        /* PROJECTS */

        .projects {
            display: none;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 50% 50%;
            background-color: black;
            width: 100vw;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            grid-template-areas: 
            'science . directory . photo backtome1'
            'backtome2 puppy . form . dashboard';
        }

        .back-to-me {
            height: 60px;
            margin-top: 60px;
        }

        #back-to-me-1 {
            grid-area: backtome1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            height: 50px;
            margin: 20px;
        }

        #back-to-me-2 {
            display: none;
        }
    }
}



