* {
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
}

/* PERSONAL PAGE */

.personal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #004aad;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.profilepic-div {
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 50%;
    margin: 0;
}

.profile-pic {
    width: 100vw;
    height: 100%;
    /* position: absolute;
    bottom: 0px;
    left: 0; */
    object-fit: cover;
    /* object-position: left bottom; */
}

h1 {
    color: #dcff79;
    font-weight: 900;
    text-shadow: 1px 1px 1px black;
    line-height: 2rem;
    width: 50%;
    margin-top: 20px;
}

.title-div {
    margin-left: 20px;
    margin-right: 80px;
}

.projects-btn {
    color: #cfb9ff;
    font-weight: bold;
    font-size: 1rem;
    width: 40%;
    background-color: black;
    border: 2px solid black;
    padding: 5px;
    position: absolute;
    top: 80px;
    cursor: pointer;
}

.contacts {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

.hidden-contacts {
    display: none;
}

.getintouch {
    height: 60px;
    cursor: pointer;
}

.arrow {
    width: 30%;
    margin-left: 10px;
    margin-top: 5px;
}

svg {
    fill: #dcff79;
    margin-left: 5px;
    margin-top: 15px;
}


/* PROJECTS PAGE */


.projects {
    display: none;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(13, 1fr);
    background-color: black;
    width: 100vw;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-areas: 
    'science backtome1'
    'science .'
    'science puppy'
    '. puppy'
    'form puppy'
    'form .'
    'form photo'
    '. photo'
    'dashboard photo'
    'dashboard .'
    'dashboard directory'
    '. directory'
    'backtome2 directory';
}

.project-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.project-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    color: #cfb9ff;
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}

p {
    font-size: 0.8rem;
    color: #dcff79;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.project-icon {
    width: 80%;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills img {
    width: 25px;
    background-color: #cfb9ff;
    border: 2px solid black;
}

.back-to-me {
    height: 50px;
    margin: 20px;
    cursor: pointer;
}

/* GRID AREAS */

#science-div {
    grid-area: science;
}

#puppy-div {
    grid-area: puppy;
}

#form-div {
    grid-area: form;
}

#photo-div {
    grid-area: photo;
}

#dashboard-div {
    grid-area: dashboard;
}

#directory-div {
    grid-area: directory;
}

#back-to-me-1 {
    grid-area: backtome1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#back-to-me-2 {
    grid-area: backtome2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}